In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func

In [2]:
spark = SparkSession.builder.appName("PopularSuperhero").getOrCreate()

23/04/19 23:35:10 WARN Utils: Your hostname, Smriddhis-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 172.20.10.9 instead (on interface en0)
23/04/19 23:35:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/19 23:35:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/19 23:35:13 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [11]:
names = spark.read.option("sep" , " ").csv("Marvel+Names")

In [12]:
lines = spark.read.text("Marvel+Graph")

In [13]:
names.show()

+---+--------------------+
|_c0|                 _c1|
+---+--------------------+
|  1|24-HOUR MAN/EMMANUEL|
|  2|3-D MAN/CHARLES CHAN|
|  3|    4-D MAN/MERCURIO|
|  4|             8-BALL/|
|  5|                   A|
|  6|               A'YIN|
|  7|        ABBOTT, JACK|
|  8|             ABCISSA|
|  9|                ABEL|
| 10|ABOMINATION/EMIL BLO|
| 11|ABOMINATION | MUTANT|
| 12|         ABOMINATRIX|
| 13|             ABRAXAS|
| 14|          ADAM 3,031|
| 15|             ABSALOM|
| 16|ABSORBING MAN/CARL C|
| 17|ABSORBING MAN | MUTA|
| 18|                ACBA|
| 19|ACHEBE, REVEREND DOC|
| 20|            ACHILLES|
+---+--------------------+
only showing top 20 rows

In [14]:
lines.show()

+--------------------+
|               value|
+--------------------+
|5988 748 1722 375...|
|5989 4080 4264 44...|
|5982 217 595 1194...|
|5983 1165 3836 43...|
|5980 2731 3712 15...|
|5981 3569 5353 40...|
|5986 2658 3712 26...|
|5987 2614 5716 17...|
|5984 590 4898 745...|
|5985 3233 2254 21...|
|6294 4898 1127 32...|
|270 2658 3003 380...|
|271 4935 5716 430...|
|272 2717 4363 408...|
|273 1165 5013 511...|
|274 3920 5310 402...|
|275 4366 3373 158...|
|276 2277 5251 480...|
|277 1068 3495 619...|
|278 1145 667 2650...|
+--------------------+
only showing top 20 rows

In [21]:
connections = lines.withColumn("id", func.split(func.trim(func.col("value")), " ")[0]) \
    .withColumn("connections", func.size(func.split(func.trim(func.col("value")), " ")) - 1) \
    .groupBy("id").agg(func.sum("connections").alias("connections"))

In [25]:
mostPopular = connections.sort(func.col("connections").desc()).first()

In [27]:
mostPopularName = names.filter(func.col("_c0") == mostPopular[0]).select("_c1").first()

In [28]:
print(mostPopularName[0] + " is the most popular superhero with " + str(mostPopular[1]) + " co-appearances.")

CAPTAIN AMERICA is the most popular superhero with 1933 co-appearances.